.sun-icon1 {
  font-size: 100px;
  color: #f0b91a;
}

.degrees {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 10px;
}

.degrees-celsius {
  font-size: 70px;
  font-weight: 300px;
  list-style: none;
  text-align: right;
  padding: 0;
  position: relative;
  bottom: 130px;
  right: 25px;
}

.cloud-icon,
.cloud-rain-icon {
  color: #81ccf7;
}

ul {
  font-size: 13px;
  list-style: none;
  position: relative;
  bottom: 70px;
  padding: 0;
  margin: 0;
}

.fa-solid {
  padding-right: 5px;
}
