body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f3f7;
  margin: 0;
  padding: 0;
}

.container {
  padding: 50px;
  padding-bottom: 0;
  margin: 64px auto;
  border-radius: 10px;
  color: #5a6275;
  max-width: 500px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
