body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f3f7;
  margin: 0;
  padding: 0;
}

.container {
  padding: 50px;
  padding-bottom: 0;
  margin: 64px auto;
  border-radius: 10px;
  color: #5a6275;
  max-width: 500px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%);
}

h1 {
  font-size: 19px;
  font-weight: 300;
}


hr {
  position: relative;
  bottom: 50px;
  margin-bottom: 0;
}



.celsius,
.fahrenheit {
  font-size: 20px;
  color: #5a6275;
  text-decoration: none;
}

.code {
  color: #5a6275;
  text-decoration: underline #f0b91a;
  font-weight: 200;
  margin-right: 2px;
}

.name {
  display: block;
  max-width: 360px;
  margin: 0 auto;
  position: relative;
  right: 50px;
  bottom: -20px;
  color: #5a6275;
  font-size: 9px;
  padding: 0 auto;
  font-weight: 200;
}

@media (max-width: 1200px) {
  h4 {
    font-size: 40px;
  }
  ul {
    margin: 0 0 5px 0;
  }
  .search-city {
    padding: 10px 20px 0 4px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 20px auto;
  }
  .button {
    width: auto;
  }

  .humidity,
  .pressure,
  .wind {
    font-size: 10px;
    margin: 0 auto;
  }
}
