.box-button {
  margin-bottom: 20px;
  font-weight: 100;
}

.button {
  text-decoration: none;
  font-size: 12px;
  color: #5a6275;
  background-color: whitesmoke;
  border: 1px solid #ffd5e2;
  border-radius: 5px;
  width: 119px;
  padding: 0.375rem 0.75rem;
}

.form-control {
  text-decoration: none;
  font-size: 12px;
  background-color: whitesmoke;
  border: 1px solid #ffd5e2;
  text-align: left;
  border-radius: 5px;
}
.sun-icon1 {
  font-size: 100px;
  color: #f0b91a;
}

.degrees {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 10px;
}

.degrees-celsius {
  font-size: 70px;
  font-weight: 300px;
  list-style: none;
  text-align: right;
  padding: 0;
  position: relative;
  bottom: 130px;
  right: 25px;
}

.cloud-icon,
.cloud-rain-icon {
  color: #81ccf7;
}

ul {
  font-size: 13px;
  list-style: none;
  position: relative;
  bottom: 70px;
  padding: 0;
  margin: 0;
}

.fa-solid {
  padding-right: 5px;
}
